.about-top-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
}

.about-image-back {
  position: relative;
  min-width: 300px;
  max-width: 500px;
  min-height: 300px;
  max-height: 500px;
  width: 55%;
  margin-right: 50px;
}

.about-image-border-effect-primary {
  border-radius: 6px;
  position: absolute;
  border: 2px solid var(--theme-color);
  width: calc(90% - 16px);
  padding-top: calc(90% - 16px);
  margin-top: -8px;
  margin-left: 8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about-image-border-effect-secondary {
  border-radius: 6px;
  position: absolute;
  border: 2px solid #fff;
  width: calc(90% - 16px);
  padding-top: calc(90% - 16px);
  margin-top: 8px;
  margin-left: -8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about-image {
  border-radius: 6px;
  position: absolute;
  width: calc(90% - 33px);
  padding-top: calc(90% - 33px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("/view/static/intro.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.about-description {
  font-size: 18px;
  font-weight: 500;
}

.about-title {
  font-size: 60px;
  font-weight: 700;
}

.about-top-section {
  padding: 40px;
  padding-left: 70px;
  padding-right: 70px;
  max-width: 45%;
  width: fit-content;
  height: fit-content;
  z-index: 1;
}

.about-contact {
  margin-top: 20px;
  display: flex;
}

@media screen and (max-width: 1200px) {
  .about-description {
    font-size: 16px;
  }

  .about-title {
    font-size: 40px;
  }
}

@media screen and (max-width: 880px) {
  .about-description {
    font-size: 16px;
  }

  .about-contact {
    justify-content: center;
  }

  .socials-cen {
    text-align: center;
  }

  .about-title {
    font-size: 35px;
  }

  .about-top-container {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }

  .about-image-back {
    margin-right: 0;
    padding-bottom: 200px;
  }

  .about-top-section {
    padding: 30px;
    padding-top: 50px;
    max-width: 100%;
    text-align: justify;
    margin-bottom: -70px;
    margin-top: 100px;
  }

  #about-gap {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .about-top-section {
    margin-bottom: -100px;
    margin-top: 100px;
  }
}



@media screen and (max-width: 800px) {
  .about-qua {
    display: none;
  }

  .about-line-left {
    left: 30px;
  }

  .about-line-right {
    left: auto;
    right: 30px;
  }

  .ex-point-box-left {
    margin-right: 20px;
  }

  .ex-point-box-right {
    margin-left: 20px;
  }

  .move-right:hover {
    transform: translateX(0px);
  }

  .move-left:hover {
    transform: translateX(0px);
  }

  .about-card-right {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
  }

  .about-card-left {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
  }

  .ex {
    border-top: 1px solid var(--theme-color);
    border-bottom: 1px solid var(--theme-secondary-color);
    margin-top: 10px;
  }
}
