@import "/view/static/fontawesome-free-6.2.1-web/css/fontawesome.min.css";


/* colors */
:root {
  --theme-color: #00e5ff;
  --theme-secondary-color: #ef274f;
  --object-color-primary: #e7e7e7;
  --object-color-dark-gray: #717171;
}


/*theme*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
fieldset{
  border: none;
  padding: 0;
  margin: 0;
}

* {
    user-select: none;
    /* supported by Chrome and Opera */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
}

::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 9px;
    background: rgba(219, 219, 219, 0.7);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 9px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.6);
}



/* Sidebar */

side-bar {
    position: fixed;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    width: 150px;
    height: 100%;

}
.logo {
    position: relative;
}
.logo-image{
    height: 100px; 
    width: 100px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
}
.bar-items{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
.bar-item{
    display: flex;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
}

.bar-item-text{
    padding: 20px;
    text-align: left;
    font-size: 17px;
    padding-left: 10px;
}
.bar-item:hover{
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.bar-item-icon{
    padding: 20px;
    height: 22px;
    padding-left: 10px;
    padding-right: 10;
    width: 22px;
    text-align: left;
}
.bar-item-icon-color {
    fill: var(--object-color-dark-gray);
  }





  /* animations */
.animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.animate-top{animation:animatetop 0.4s}@keyframes animatetop{from{margin-top:-300px;opacity:0} to{margin-top:0;opacity:1}}
.animate-left{animation:animateleft 0.4s}@keyframes animateleft{from{margin-left:-50px;opacity:0} to{margin-left:0;opacity:1}}
.animate-rotate-left{animation:animaterotateleft 0.8s}@keyframes animaterotateleft{from{transform: rotate(-20deg);opacity:0} to{transform: rotate(0deg);opacity:1}}
.animate-right{animation:animateright 0.4s}@keyframes animateright{from{margin-right:-300px;opacity:0} to{margin-right:0;opacity:1}}
.animate-bottom{animation:animatebottom 0.4s}@keyframes animatebottom{from{margin-bottom:-300px;opacity:0} to{margin-bottom:0;opacity:1}}
.animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.animate-input{transition:width 0.4s ease-in-out}
.animate-input:focus{width:100%!important}
.animate-left{animation:animateleft 0.4s}@keyframes animateleft{from{margin-left:-300px;opacity:0} to{margin-left:0;opacity:1}}