.img-float-left {
  float: left;
  width: 25%;
}

.img-float-right {
  float: right;
  width: 25%;
}

.work-left {
  width: calc(100% - 300px);
  max-width: 1200px;
}

.work-right {
  width: 300px;
}

.work-details {
  margin: 20px 40px 20px 40px;
  text-align: justify;
  font-size: 18px;
}

.work-stats {
  margin: 20px 40px 20px 40px;
}

.work-gallery {
  margin: 20px 40px 20px 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.work-media {
  object-fit: contain;
  width: calc(50% - 50px);
  aspect-ratio: 16/9;
  border-radius: 8px;
}

.work-media-link {
  display: contents;
}

.work-logo {
  width: 40%;
  max-width: 400px;
  height: auto;
  object-fit: cover;
  aspect-ratio: 1/1;
  margin: 10px 30px 10px 0px;
}

@media screen and (max-width: 800px) {
  .work-left {
    width: 100%;
  }

  .work-right {
    width: 100%;
  }
}

.work-links-view {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.work-link-view {
  background-color: var(--theme-color);
  padding: 10px 20px;
  border-radius: 8px;
  text-align: center;
  align-items: center;
}

.work-link-view:hover {
  color: white;
  background-color: var(--theme-color-rbga);
}

.tech-stack {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.tech {
  padding: 0px 5px;
  border: 1px solid var(--theme-color);
  display: inline-block;
  border-radius: 4px;
  margin-right: 10px;
  margin-bottom: 10px;
}

#work-role {
  width: fit-content;
  font-weight: 600;
  font-size: 18px;
  margin: auto;
  transform: translate(-10px, -10px);
}
