.bg1 {
  transition: all 0.5s;
  background-color: #252525;
}

.bg2 {
  transition: all 0.5s;
  background-color: #343434;
}

.bg2-change {
  transition: all 0.5s;
  background-color: #343434;
}

.c1 {
  transition: all 0.5s;
  color: #e7e7e7;
}

.c2 {
  transition: all 0.5s;
  color: #a3a3a3;
}

.bg-theme {
  transition: all 0.5s;
  background-color: #00d3b4;
}

.c-theme {
  transition: all 0.5s;
  color: #00d3b4;
}

.bg-theme-second {
  transition: all 0.5s;
  background-color: #fd2155;
}

.c-theme-second {
  transition: all 0.5s;
  color: #fd2155;
}

.op1 {
  opacity: 0.8;
}

.c3 {
  transition: all 0.5s;
  color: #b4b4b4;
}

.cross-theme {
  transition: all 0.5s;
  color: #00d3b4;
}

.bottom-gradient-bg {
  background: rgb(37, 37, 37);
  background: linear-gradient(
    to bottom,
    rgba(37, 37, 37, 0) 0%,
    rgb(37, 37, 37)
  );
  border-bottom: 1px solid #00d3b4;
}

#back-to-top-btn:hover {
  color: #00d3b4;
  box-shadow: 0 0 15px #00d3b4;
}

.triangle {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #343434;
}

.button-a {
  color: #252525;
  font-weight: 500;
}

.reverse-color {
  color: #fff;
}
.zoom-icon {
  color: #fff;
}
.bottom-gradient {
  height: 50px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(37, 37, 37, 0) 0%,
    rgb(37, 37, 37)
  );
}
.left-gradient {
  width: 50px;
  position: absolute;
  left: 0;
  height: 100%;
  background: linear-gradient(
    to left,
    rgba(52, 52, 52, 0) 0%,
    rgb(52, 52, 52)
  );
}
.top-gradient {
  height: 100px;
  background: linear-gradient(to top, rgba(37, 37, 37, 0) 0%, rgb(37, 37, 37));
}

.intro-text {
  background-color: rgba(22, 22, 22, 0.5);
}
body {
  cursor: url("../../static/cursor-b.png"), auto;
}
.mobile-nav-menu {
  transition: all 0.5s;
  background-color: #343434;
}

.btn-5a:hover a {
  color: #252525;
  transform: translateY(65px);
}
.btn-5 a {
  color: #252525;
  /*span the entire button to hide icons*/
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;

  /*transition parameters*/
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.ex-point-box-left {
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  position: relative;
  border-right: 10px solid #404040;
}
.ex-point-box-right {
  border-left: 10px solid #404040;
}
.ex-point-box-left::before {
  border-color: transparent transparent transparent #404040;
}
.ex-point-box-right::before {
  border-color: transparent #404040 transparent transparent;
}
.work-card-tag {
  background-color: rgba(35, 35, 35, 0.9);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.work-card {
  border-bottom: 2px dashed rgba(255, 255, 255, 0.5);
  border-left: 2px dashed rgba(255, 255, 255, 0.5);
}
.work-card-full {
  border: none;
}
footer .credits a {
  color: #00d3b4;
}
.about-top-container {
  background: linear-gradient(
    220deg,
    rgba(253, 33, 85, 0),
    rgba(253, 33, 85, 0.8),
    rgba(253, 33, 85, 0),
    rgba(0, 211, 180, 1)
  );
}
.work-media{
  padding: 2px;
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}