.bg1 {
  transition: all 0.5s;
  background-color: #ffffff;
}

.bg2 {
  transition: all 0.5s;
  background-color: #f6f6f6;
}

.bg2-change {
  transition: all 0.5s;
  background-color: #fdfeff;
}

.c1 {
  transition: all 0.5s;
  color: #252525;
}

.c2 {
  transition: all 0.5s;
  color: #343434;
}

.bg-theme {
  transition: all 0.5s;
  background-color: #00d3b4;
}

.c-theme {
  transition: all 0.5s;
  color: #00d3b4;
}

.bg-theme-second {
  transition: all 0.5s;
  background-color: #fd2155;
}

.c-theme-second {
  transition: all 0.5s;
  color: #fd2155;
}

.op1 {
  opacity: 0.8;
}

.c3 {
  transition: all 0.5s;
  color: #7f7f7f;
}

@media screen and (max-width: 600px) {
  .intro-text{
    background-color: rgba(255,255,255,0.3);
  }
}